NODE_ENV=development
PORT=5000
APP_NAME=PH-Healthcare

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ph_healthcare?schema=public"

# URLs
APP_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

# Google OAuth
GOOGLE_CLIENT_ID=gothic-augury-505006-h7

# Super Admin Seed
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=your_super_admin_password

# Tester Admin Seed
TESTER_ADMIN_NAME=Tester Admin
TESTER_ADMIN_EMAIL=testeradmin@example.com
TESTER_ADMIN_PASSWORD=your_tester_admin_password

# Tester Doctor Seed
TESTER_DOCTOR_NAME=Tester Doctor
TESTER_DOCTOR_EMAIL=testerdoctor@example.com
TESTER_DOCTOR_PASSWORD=your_tester_doctor_password

# Redis
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP / Email
SMTP_USER=your_smtp_user@gmail.com
SMTP_PASSWORD=your_smtp_app_password
SENDER_EMAIL_USER=noreply@example.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# bKash Payment Gateway
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_APP_KEY=your_bkash_app_key
BKASH_APP_SECRET=your_bkash_app_secret
BKASH_USERNAME=your_bkash_username
BKASH_PASSWORD=your_bkash_password
BKASH_CALLBACK_URL=http://localhost:5000/api/v1/payment/bkash/callback
